body {
    margin: 0px;
}

/* site image */
md-sidenav header {
    position: relative;
    font-size: 0px;
}

md-sidenav header img {
    width: 100%;
}

/* site header to bottom left */
.shield {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    background-color: rgba(68, 138, 255, 0.8);
}

/* login page */
body.shield {
    justify-content: center;
    align-items: center;
}

#clef-login {
    width: 450px;
}

/* sidenav header */
md-sidenav header .shield {
    align-items: flex-end;
}

md-sidenav header div h1 {
    padding-left: 20px;
    color: white;
}

/* prevent overflowing page title */    
md-sidenav md-toolbar {
    overflow: hidden;
    min-height: 83px; /* ensure it doesn't shrink when changing */
}

/* take rounded edges off the sidenav collection buttons */
md-sidenav md-list .md-button,
md-sidenav md-list .md-button .md-ripple-container {
    border-radius: 0px;
}

/* make sidenav buttons reach both sides */
md-sidenav md-list {
    padding: 0px;
}

/* center sidenav tools */
md-sidenav .toolbar-buttons {
    display: flex;
    justify-content: center;
}

/* prevents anything in sidenav shrinking */
md-sidenav * {
    flex-grow: 0;
    flex-shrink: 0;
}

/* stretch out siddenav main collection and enable scrolling */
md-sidenav md-list.collection {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: scroll;
}

/* add hover and active selection to sidenav sectons */
md-list md-list-item button.md-button:not([disabled]):hover,
md-list md-list-item.active button.md-button:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* make mini toolbar appear at the bottom */
#contentPane {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* container to make space for progress bar */
.progress-container {
    height: 5px;
}

/* show above rest of content so we get drop shadow */
#miniToolbar {
    z-index: 2; 
}

/* make form full width */
div.ng-scope {
    width: 100%;
}

/* make form image fit its button */
.form-image {
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
}

/* size form image button */
.form-image img {
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
}

/* hide form image upload input */
.form-image input {
    display: none;
}
